body ul {
  list-style: none;
  
}

.octocat {
  border-bottom: 1px solid black;
    display: inline-block;
    width: 31%;
    margin: 10px;
  }  

  .authors {
    float: right;
    display: inline-block;
    padding-top: 3px;
  }

.octocat img {
    border: 1px solid black;
    height: 350px;
    display: inline-block;
    width: 427px;  

  }

.image-footer {
  display: block;
}   

.authors img {
    width: 20px;
    height: 20px;
    float: right;
    border: none;
    padding-bottom: 6px;

  }
.image-caption {
      float: right;
      vertical-align: middle;
  }

  .image-number::before {
    content: "#" ;
  }

.image-number {
  float: left;
  } 


 



