body ul {
  list-style: none;
  
}

.octocat {
  border-bottom: 1px solid black;
    display: inline-block;
    width: 31%;
    margin: 10px;
  }  

  .authors {
    position: relative;
    float: right;
    display: inline-block;
    padding-top: 3px;
    padding-left: 10px;
  }

.octocat img {
    border: 1px solid black;
    height: 350px;
    display: inline-block;
    width: 427px;  

  }

.image-footer {
  display: block;
}   

.authors img {
    width: 20px;
    height: 20px;
    float: right;
    border: none;
    padding-bottom: 6px;

  }
.image-caption {
      float: right;
      vertical-align: middle;
  }

.image-number::before {
    content: "#" ;
  }

.image-number {
  float: left;
  } 

.authors::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 6px 0 6px;
  border-color: #007bff transparent transparent transparent;
  position: absolute;
  right: 5px;
  bottom: 28px;
}  


 



